{% include 'include.html' %}

{% include 'admin/components/navbar.html' %}

<div class="container mt-4">
    <h1>Tambah FaQ</h1>
    <form action="/adminFaq/new" method="POST" enctype="multipart/form-data">
        <label for="pertanyaan">Pertanyaan</label>
        <input class="form-control" type="text" name="pertanyaan" id="pertanyaan" required>
        <br><br>
        <label for="jawaban">Jawaban</label>
        <textarea class="form-control" name="jawaban" id="jawaban" ></textarea>
        <br><br>
        <input class="btn btn-primary" type="submit" value="Tambah Data">
    </form>
</div>
