Flask
Flask-Cors
Flask-HTTPAuth
Flask-JWT-Extended
Flask-Login
Flask-PyMongo
Flask-RESTful
Flask-SQLAlchemy
Flask-Uploads
huggingface-hub
keras
nltk
numpy
openai
opencv-python
pipenv
pipreqs
PyJWT
python-dateutil
python-dotenv
scikit-learn
scipy
selenium
tensorflow
tflearn
virtualenv
gunicorn
