<!DOCTYPE html>
<html>
<head>
    <title>Edit Profil</title>
    <!-- Masukkan tautan ke CSS SweetAlert -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
</head>
<body>
    <div class="container">
        <h1>Edit Profil</h1>
        <!-- Form edit profil -->
        <form method="post" action="/editProfil/{{ profil._id }}">
            <!-- Form fields di sini -->
            <div class="form-group">
                <label for="profil">Profil:</label>
                <textarea class="form-control" id="profil" name="profil" required>{{ profil.profil }}</textarea>
            </div>

            <button type="submit" class="btn btn-primary">Simpan Perubahan</button>
        </form>
    </div>

    <!-- Masukkan tautan ke JavaScript SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        // Jika parameter "success" ada dalam URL, tampilkan SweetAlert
        const urlParams = new URLSearchParams(window.location.search);
        const successMessage = urlParams.get('success');
        if (successMessage === 'true') {
            Swal.fire({
                icon: 'success',
                title: 'Profil berhasil diubah',
                confirmButtonText: 'OK'
            }).then(() => {
                // Hapus parameter "success" dari URL agar SweetAlert tidak ditampilkan lagi saat halaman diperbarui
                window.history.replaceState({}, document.title, window.location.pathname);
            });
        }
    </script>
</body>
</html>
