{% include 'include.html' %}

{% include 'admin/components/navbar.html' %}


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">


    <div class="container mt-5">
        <h1>Edit Profil</h1><br>
        <form method="post" action="/editProfil/{{ profil._id }}">

            <div class="form-group">
                <label for="profil">Profil:</label>
                <textarea style="height:300px" class="form-control" id="profil" name="profil" required>{{ profil.profil }}</textarea>
            </div>

            <button type="submit" class="btn btn-primary mt-5">Simpan Perubahan</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const successMessage = urlParams.get('success');
        if (successMessage === 'true') {
            Swal.fire({
                icon: 'success',
                title: 'Profil berhasil diubah',
                confirmButtonText: 'OK'
            }).then(() => {
                window.history.replaceState({}, document.title, window.location.pathname);
            });
        }
    </script>

