{% include 'include.html' %}

{% include 'admin/components/navbar.html' %}


<section id="about" class="about-us section-bg" style="padding-top:42px;">
    <div class="container" data-aos="fade-up">
        <div class="d-flex justify-content-between">
            <h3>Artikel dan Tips</h3>
            <a href="/adminArtikel/new">
                <button type="button" class="btn btn-primary">
                    Tambah Data
                </button>
            </a>

          
        </div>

        <br><hr><br>
        <div class="container">
          <div class="row">
            {% for artikel in artikel %}
            <div class="col-lg-6" data-aos="fade-up">
              <div class="row">

                <div class="col-12">
                  <div class="landingarticles">
                    <div class="row">
                      <div class="col-lg-8">
                        <h5 data-aos="fade-up">{{artikel.judul}}</h5>
                        <br>
                        <div class="d-flex align-items-center justify-content-between">
                          <p class="description"><a href="/adminArtikel/{{ artikel._id }}" class="btn-primary">Lihat</a></p>
                          <div class="d-flex">

                            <a href="/adminArtikel/edit/{{ artikel._id }}" class="me-2">
                              <button type="submit" class="btn btn-sm btn-primary btn-circle" style="background-color:rgb(236, 182, 66);border:none">
                                <i class="fas fa-edit"></i>
                              </button>
                            </a>
                            <form method="post" action="/adminArtikel/delete/{{ artikel._id }}">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-sm btn-primary btn-circle" style="background-color:rgb(182, 110, 110);border:none">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="thumb">
                          <img class="thumbimg" src="../../static/img/artikel/{{artikel.path}}" alt="" style="width: 150%;">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
            {%endfor%}
          </div>
    </div>
  
      <!-- <div class="row gy-4">
        <div class="col-lg-12 d-flex align-items-center">
          <div class="row gy-4">
            {% for artikel in artikel %}
            <div class="col-xl-3" data-aos="fade-up" data-aos-delay="200" data-aos-anchor-placement="top-bottom">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <img src="../../static/img/artikel/{{artikel.path}}" style="width:100%">
                <br/>
                <h5>{{artikel.judul}}</h5>

                <div class="row">
                    <div class="col-4">
                        <a href="/adminArtikel/{{ artikel._id }}"><button type="button" class="btn btn-primary">Lihat</button></a>
                    </div>
                    <div class="col-8">
                      <div class="d-flex justify-content-between">
                        <a href="/adminArtikel/edit/{{ artikel._id }}">
                          <button type="button" class="btn btn-warning">Edit</button></a>
                        <form method="post" action="/adminArtikel/delete/{{ artikel._id }}">
                          <input type="hidden" name="_method" value="DELETE">
                          <button type="submit" class="btn btn-danger">Hapus</button>
                        </form>
                      </div>
                    </div>
                    
                </div>
                
              </div>
              
            </div>
          
            {% endfor %}
          </div>
        </div>

      </div> -->

    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>





