
    <title>Tambah Artikel</title>
    <script src="https://cdn.ckeditor.com/ckeditor5/32.0.0/classic/ckeditor.js"></script>

    {% include 'include.html' %}
    {% include 'admin/components/navbar.html' %}
    <div class="container mt-3">
        <h1>Tambah Artikel</h1>
        <form action="/adminArtikel/new" method="POST" enctype="multipart/form-data">
            <label for="judul">Judul:</label>
            <input class="form-control" type="text" name="judul" id="judul" required>
            <br>
            <label for="isi">Isi:</label>
            <textarea class="form-control" name="isi" id="editor" ></textarea>
            <br>
            <label for="path">Gambar:</label>
            <input class="form-control" type="file" name="path" id="path" accept="image/*">
            <br><br><br>
            <input type="submit" value="Tambah Data" class="btn btn-primary">
        </form>
    </div>

    <script>
        ClassicEditor
            .create(document.querySelector('#editor'), {
                toolbar: {
                    items: [
                        'heading',
                        '|',
                        'bold',
                        'italic',
                        'underline',
                        'link',
                        '|',
                        'bulletedList',
                        'numberedList',
                        '|',
                        'indent',
                        'outdent',
                        '|',
                        'undo',
                        'redo'
                    ]
                },
                language: 'en',
                indentBlock: {
                    offset: 1, // Jumlah spasi indentasi
                    unit: 'em' // Satuan indentasi (misalnya px, em)
                },
                image: {
                    toolbar: ['imageTextAlternative', '|', 'imageStyle:alignLeft', 'imageStyle:full', 'imageStyle:alignRight'],
                    styles: [
                        'full',
                        'alignLeft',
                        'alignRight'
                    ]
                },
                table: {
                    contentToolbar: ['tableColumn', 'tableRow', 'mergeTableCells']
                },
                licenseKey: '',
                typing: {
                    // Menambahkan jarak paragraf saat menekan Enter
                    insertBreak: {
                        breakType: 'paragraph',
                        shiftEnter: false,
                        indentClass: 'ck-indent',
                    }
                }
            })
            .then(editor => {
                console.log('Editor berhasil diinisialisasi', editor);
            })
            .catch(error => {
                console.error('Terjadi kesalahan saat menginisialisasi editor', error);
            });
    </script>
