<div class="container">
  <div class="row flex-lg-row-reverse align-items-center">
    <div class="col-10 col-sm-8 col-lg-8">
      <div class="landingabout">
        <h2 data-aos="fade-up" data-aos-delay="100" data-aos-anchor-placement="top-bottom">Apa itu Herbalia ?</h2>
        <br>
        <p data-aos="fade-up" data-aos-delay="300" data-aos-anchor-placement="top-bottom">Herbalia adalah web yang memungkinkan pengguna mengetahui jenis dan manfaat tanaman herbal dan juga agar pengguna dapat membedakan mana tanaman herbal dan bukan melalui fitur pemindaian gambar tanaman. Selain dapat menampilkan gambar, juga terdapat fitur artikel yang dapat memberikan informasi seperti tips.</p>
      </div>
      
    </div>
    <div class="col-lg-4">
      <img src="../../static/img/header/header.gif" style="width: 70%; -webkit-transform: scaleX(-1);transform: scaleX(-1);" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
  </div>
</div>