<section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="row ">
        <div class="col-lg-6  " style="margin-top: 72px;">
          <h2 data-aos="fade-up">Temukan Tanaman<br>Herbal Disekitarmu</h2>
          <div class="row">
            <p class="col-lg-8" data-aos="fade-up" data-aos-delay="100" data-aos-anchor-placement="top-bottom">Pelajari tentang jenis-jenis tanaman herbal dan manfaatnya dengan Herbalia</p>
          </div>
          <br>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200" data-aos-anchor-placement="top-bottom">
            <a href="/upload"><button class="button-86" role="button">Upload Tanamanmu</button></a>
            <a href="#about">
              <div class='scrolldown ms-4' style="--color: #ADBBB9">
                  <div class="chevrons">
                    <div class='chevrondown'></div>
                    <div class='chevrondown'></div>
                  </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-6">
          <img src="../../static/img/feature/feature1.png" alt="" data-aos="zoom-out" data-aos-delay="300" style="width: 105%;">
        </div>
      </div>
    </div>
</section>