{% include 'include.html' %}

<style>
    .card-img-top {
        height: 150px;
        object-fit: cover;
    }
</style>

{% include 'admin/components/navbar.html' %}



<section id="about" class="about-us section-bg" style="padding-top:42px;">
    <div class="container" data-aos="fade-up">
        <form class="mb-4 row d-flex justify-content-between align-items-center">
            <h3>Saran dari pengguna</h3>
            <div class="col-sm-6 col-12 form-group" >
                <label for="tanggalFilterSaran">Filter Tanggal:</label>
                <input type="date" id="tanggalFilterSaran" class="form-control" onchange="filterSaranByTanggal()">
            </div>
        </form>

        <br><hr><br>
        <div class="container">
          <div class="row">
            {% for saran in adminSaran %}
            <div class="col-lg-6" data-aos="fade-up">
              <div class="row">

                <div class="col-12">
                  <div class="landingarticles">
                    <div class="row">
                      <div class="col-lg-8">
                        <h5 data-aos="fade-up">{{saran.nama}}</h5>
                        <p>{{ saran.tanggal }}</p>
                        <br>
                        <div class="d-flex align-items-center justify-content-between">
                          <p class="description"><a href="/adminSaran/{{ saran._id }}" class="btn-primary">Lihat</a></p>
                          <div class="d-flex">
                            <form method="post" action="/hapusSaran/{{ saran._id }}">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-sm btn-primary btn-circle" style="background-color:rgb(182, 110, 110);border:none">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="thumb" style="border:2px solid #dcdcdc">
                          <img class="thumbimg" src="../../static/img/saran/{{saran.gambar}}" alt="" style="width: 100%;">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
            {%endfor%}
          </div>
    </div>



    <script>
        function filterSaranByTanggal() {
            var tanggalFilter = document.getElementById("tanggalFilterSaran").value;
            window.location.href = "/adminSaran?tanggal=" + tanggalFilter;
        }
    </script>

