{% include 'include.html' %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <style>
        .owl-carousel .item {
        padding: 10px;
        margin-right: 10px;
        }
    </style>

    <title>{{ detailTanaman.nama }}</title>

    {% include 'admin/components/navbar.html' %}

    <section class="herb-list daftarTanaman" style="background-color: #F5F6F8;">
        <div class="tab-content container" data-aos="fade-up" data-aos-delay="300" >
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/adminTanaman">Daftar Tanaman</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{ detailTanaman.nama }}</li>
                </ol>
              </nav>
            <div class="tab-pane fade active show" id="herb-tabs">
                <h1>{{ detailTanaman.nama }}</h1>
            </div>
        </div>
    </section>

    <section class="herb-list" style="background-color: #FFFF;">
        <div class="tab-content container" data-aos="fade-up" data-aos-delay="300">
            <div class="tab-pane fade active show" id="herb-tabs">
                <div class="row">
                    <div class="col-3">
                        <img style="width:100%" src="../static/img/list/{{detailTanaman.path}}" class="herb-img img-fluid" alt="">
                    </div>
                    <div class="col-1"></div>
                    <div class="col-8">
                        <div class="flex">
                          <h5>Deskripsi</h5>
                          <a href="/adminTanaman/editDeskripsi/{{ detailTanaman._id }}" >
                            <button type="submit" class="btn btn-sm btn-primary btn-circle" style="background-color:rgb(236, 182, 66);border:none">
                              <i class="fas fa-edit"></i>
                            </button>
                          </a>
                        </div>
                        <p>{{ detailTanaman.deskripsi }}</p>
                        <br>
                        <h5>Khasiat</h5>
                        <ul>
                            {% for khasiat in khasiatList %}
                            <li>{{ khasiat }}</li>
                            {% endfor %}
                        </ul>
                        <br>
                        <h5>Referensi</h5>
                        <div class="owl-carousel owl-theme">
                            {% for referensi in referensiList %}
                            <div class="item">
                              <div class="video-wrapper">
                                <iframe class="embed-responsive-item" src="{{ referensi }}" allowfullscreen style="border-radius:20px;"></iframe>
                              </div>
                            </div>
                            {% endfor %}
                          </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function(){
          $('.owl-carousel').owlCarousel({
            items: 2.7,
            loop: true,
            margin: 20,
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: true,
            responsive: {
              0: {
                items: 1
              },
              768: {
                items: 2.7
              }
            }
          });
        });
        </script>
        
