<!DOCTYPE html>
<html>
<head>
    <title>Tambah Tanaman Herbal</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#tambah_khasiat").click(function() {
                var input = '<input type="text" name="khasiat[]" required><br>';
                $("#input_khasiat").append(input);
            });
        });
    </script>
</head>
<body>
    <h1>Tambah Tanaman Herbal</h1>
    <form method="POST" action="/tambah_tanaman">
        <label for="nama">Nama Tanaman:</label><br>
        <input type="text" id="nama" name="nama" required><br><br>
        <label for="nama_ilmiah">Nama Ilmiah:</label><br>
        <input type="text" id="nama_ilmiah" name="nama_ilmiah" required><br><br>
        <label for="deskripsi">Deskripsi:</label><br>
        <textarea id="deskripsi" name="deskripsi" required></textarea><br><br>
        <label for="khasiat">Khasiat:</label><br>
        <div id="input_khasiat">
            <input type="text" name="khasiat[]" required><br>
        </div>
        <br>
        <button type="button" id="tambah_khasiat">Tambah Khasiat</button>
        <br><br>
        <input type="submit" value="Tambahkan">
    </form>
</body>
</html>
