<div class="container d-flex align-items-center justify-content-between">

    <a href="/" class="logo d-flex align-items-center me-auto me-lg-0">
      <img src="../static/img/header/logo.png" alt="logo">
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/daftarTanaman">Daftar Tanaman</a></li>
        <li><a href="/daftarArtikel">Artikel</a></li>
      </ul>
    </nav>

    <a class="btn-primary" href="/upload">Upload Tanaman</a>
    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

  </div>